
  <div class="quote container-fluid">
    <p>
  ❝ <%=arr[0]%> ❞</p>
  <p>
    -- <%=arr[1]%>
    </p>
    </div>
    <footer class="container-fluid">
    <div class="container-fluid foot">
      <a class="anchor a1" href="https://twitter.com/"><i class="webicon fab fa-twitter"></i></a>
      <a class="anchor a2" href="https://www.facebook.com/ayush.ray.568"><i class="webicon fab fa-facebook-f"></i></a>
      <a class="anchor a3" href="https://www.instagram.com/rayush33/?hl=en"><i class="webicon fab fa-instagram"></i></a>
      <a class="anchor a4" href="mailto:1801me18@iitp.ac.in"><i class="webicon fas fa-envelope"></i></a>
    <p class="copy">🐹 © Copyright 2020 HamBlog 🐹</p>
    </div>
</footer>
</div>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
   <script src="func.js" charset="utf-8"></script>
   <script src="https://kit.fontawesome.com/4eeed4c7af.js" crossorigin="anonymous"></script>
</body>
</html>
